<div class="main_menu2 viewd" ng-controller="sel_del">
	<div class="m_wrapper bg_white">
		<div class="menu"><span class="title">Add Delivery Address</span></div>
		<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
		<div class="view_del">
			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="atr_list">
				<thead>
					<tr>
						<th width="40%" class="first">Address</th>
						<th width="15%" >Zip</th>
						<th width="15%" >City</th>
						<th width="15%" >Country</th>
						<th width="15%" class="last">Select</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="art in adel.address_row">
						<td ng-bind-html="art.address"></td>
						<td >{{art.zip}}</td>
						<td >{{art.city}}</td>
						<td >{{art.country}}</td>
						<td class="last"><input type="radio" ng-model="art.checked" name="selected_adr" ng-click="set_item(art)" style="width:auto;" /></td>
					</tr>
				</tbody>
			</table>
			<div class="buttons">
				<button ng-click="select()">Select</button>
				<button ng-click="cancel()">Close</button>
			</div>
		</div>
 </div>
</div>