<div ng-include="'layout/menu.html'" ></div>
<div hm-swipe-right="handleGesture($event)">
	<div class="menu"><span class="title">Dashboard</span><span class="left snap" ng-click="snap()"></span></div>
	<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
	<div class="clearfix border_b">
		<div class="left chart">
Nice little chart over here!
		</div>
		<div class="right right_col">
			<button class="addnew croped" ng-click="go('add_order')">Add New Order</button>
			<button class="vieworders croped" ng-click="go('orders')">View Orders</button>
			<div class="bubles">
				<div class="left"><p>Fully delivered</p>
					<div class="buble ">{{all_del}}</div>
				</div>
				<div class="left"><p>Ready to deliver</p>
					<div class="buble ready">{{all_ready}}</div>
				</div>
				<div class="left no_margin"><p>Draft<br />&nbsp;</p>
					<div class="buble draft">{{all_draft}}</div>
				</div>
			</div>
		</div>
	</div>
 	<table class="list" width="100%" cellspacing="0" cellpadding="0">
		<tbody>
			<tr class="listItem" ng-repeat="order in orders">
				<td width="6%" class="{{order.status}}"><span class="dot"></span></td>
				<td width="19%">
					<p>{{order.serial_number}}</p>
					<div class="pd1"><label>Date:</label> <strong>{{order.created}}</strong></div>
					<div ng-show="order.our_ref"><label>Ref:</label> <strong>{{order.our_ref}}</strong></div>
				</td>
				<td width="19%">
					<div class="delLabel">Delivery Date</div>
					<div class="delDate">{{order.delivery_date}}</div>
				</td>
				<td width="30%">
					<div class="delLabel">{{order.buyer_name}}</div>
					<div class="delDate" ng-bind-html="order.amount" ></div>
				</td>
				<td width="26%" class="center">
					<a href="#vorder/{{order.id}}" class="edit view">view</a><a href="#order/{{order.id}}" class="edit" ng-show="order.is_editable">edit</a><a href="" ng-click="delete_order(order.id)" class="edit delete">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
</div>
