<div ng-include="'layout/menu.html'" ></div>
<div hm-swipe-right="handleGesture($event)">
	<div class="menu" id="top_menu"><span class="title">Dashboard</span><span class="left snap" ng-click="snap()"></span></div>
	<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
	<div class="clearfix border_b">
		<div class="left chart">
			<div id="all_orders">
				<p>Orders</p>
				<p class="croped">{{all}}</p>
			</div>
			<highchart id="chart1" config="chartConfig" class="chartpie" ></highchart>
		</div>
		<div class="right right_col">
			<button class="addnew croped" ng-click="go('add_order')">Add New Order</button>
			<button class="vieworders croped" ng-click="go('orders')">View Orders</button>
			<div class="bubles clearfix">
				<div class="left"><p>Fully delivered</p>
					<div class="buble " ng-click="go('orders')">{{all_del}}</div>
				</div>
				<div class="left"><p>Ready to deliver</p>
					<div class="buble ready" ng-click="go('orders')">{{all_ready}}</div>
				</div>
				<div class="left no_margin"><p>Draft<br />&nbsp;</p>
					<div class="buble draft" ng-click="go('orders')">{{all_draft}}</div>
				</div>
			</div>
		</div>
	</div>
 	<div class="linechart">
 		<highchart id="chart2" config="linechartConfig" class="chartline" ></highchart>
 	</div>
	</table>
</div>