<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="loginForm center">
	<img src="images/logo.png" alt="SalesAssist" width="275" height="78">
	<form>
		<input type="text" name="username" value="" maxlenght="50" class="username" lng="Username" ng-model="username" autocomplete="OFF" autocapitalize="off" autocorrect="off" />
		<input type="password" name="password" value="" maxlenght="50" class="password" lng="Password" ng-model="password" autocomplete="OFF" autocapitalize="off" autocorrect="off" />
		<input type="submit" class="submit" value="Log In" ng-click="fetch()" lng="Log In">
	</form>
</div>
