<div class="main_menu2 modal" ng-controller="modal">
	<div class="omain_menu"></div>
	<div class="m_wrapper">
		<div class="modal_wrap">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
			<div ng-show="show_modal">
				<div class="omain_menu"></div>
			</div>
			<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
			<div class="menu"><span class="title" lng="Add Article"></span></div>
			<div ng-controller="AlertController">
			</div>
			<div class="option_btns" ng-show="choice">
				<button class="first_btn" ng-click="show_art_list()">Add from list</button>
				<!-- <button>Scan article</button> -->
				<button ng-click="snap_back()" class="close_btn" lng="Close"></button>
			</div>
			<div ng-show="article_list" class="articles_list">
				<div class="scrolling_stuff clearfix">
					<form ng-submit="submit()">
						<input type="text" name="search" class="search" lng="Search" autocapitalize="off" autocorrect="off" ng-model="serch" ng-change="search()">
						<input type="submit" value="Search" id="hit_it" class="right" lng="Search" >
					</form>
					<table cellspacing="0" cellpadding="0" border="0" width="100%" class="atr_list">
						<thead>
							<tr>
								<th width="20%" class="first" lng="Code"></th>
								<th width="20%" lng="Name"></th>
								<th width="20%" lng="Base price"></th>
								<th width="20%" lng="Pack/S.U."></th>
								<th width="20%" class="last" lng="Add"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="art in articles">
								<td>{{art.code}}</td>
								<td ng-bind-html="art.name2"></td>
								<td>{{art.price}}</td>
								<td>{{art.packing}}/{{art.sale_unit}}</td>
								<td class="last"><input type="text" ng-model="art.quantity" ng-change="change_qty(art)" class="qty"><button ng-click="add_article(art)">+</button></td>
							</tr>
						</tbody>
					</table>
					<ul class="pagination left" ng-show="is_pagination">
						<li ng-click="page(backlink)" lng="Previous"></li><li ng-repeat="pag in pagg" ng-click="page(pag.pag - 1)" class="{{pag.active}}">{{pag.pag}}</li><li ng-click="page(nextlink)" lng="Next"></li>
					</ul>
					<button ng-click="snap_back()" class="right close_btn2" lng="Close"></button>
				</div>
			</div>
		</div>
	</div>
</div>
