<div ng-include="'layout/menu.html'" ></div>
<div ng-include="'layout/modal.html'" ></div>
<div ng-include="'layout/daddress.html'" ></div>
<div hm-swipe-right="handleGesture($event)">
<div class="menu"><span class="title" >{{text}} <span lng="Order"></span></span><span class="left snap" ng-click="snap()"></span></div>
<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
<div ng-show="show_modal">
	<div class="omain_menu"></div>
	<div class="myAlert clearfix" >
		<b><span lng="When delivered the stock"></span> (<span style='color:#{{colors}};'> {{new_stock}} </span>) <span lng="will be under the threshold of"></span> {{threshold_value}}</b>
		<div ng-show="show_pending_articles">
			<b><span lng="You have pending deliveries for"></span> {{pending_articles}} <span lng="pieces"></span> </b>
		</div>
		<button ng-click="close_modal()" class="right" lng="CLose"></button>
	</div>
</div>
<div class="orderdetails" ng-show="details">
	<h2 lng="Order Details"></h2>
	<form>
		<input type="hidden" value="" ng-model="order.author_id">
		<a href="" class="edit delete closeD" ng-click="show($event,'details')"></a>
		<div class="clearfix">
			<div class="left half">
				<label lng="Serial number"></label>
				<input type="text" value="" ng-model="order.in.serial_number" readonly="readonly">
			</div>
			<div class="left forthy">
				<label lng="Show VAT on PDF"></label>
				<input type="checkbox" value="1" name="ceva" class="showVat" ng-model="order.show_vat_checked">
			</div>
			<div class="left forthy margines">
				<label lng="Date"></label>
				<input type="text" name="search" class="date" id="date" lng="Start Date" autocapitalize="off" autocorrect="off" ng-model="order.in.date" datepicker-popup="{{order.pick_date_format}}" is-open="opens" datepicker-options="dateOptions" ng-click="open($event,'opens')" readonly="readonly" datepicker-append-to-body="true">
			</div>
			<div class="left forthy">
				<label lng="Delivery Date"></label>
				<input type="text" name="search" class="date" id="sdate" lng="Delivery Date" autocapitalize="off" autocorrect="off" ng-model="order.in.delivery_date" datepicker-popup="{{order.pick_date_format}}" is-open="opend" datepicker-options="dateOptions" ng-click="open($event,'opend')" readonly="readonly" datepicker-append-to-body="true">
			</div>
			<div class="left forthy margines">
				<label lng="Payment method"></label>
				<select ng-model="order.payment_type_dd">
					<option value="0" lng="Select type"></option><option value="1" lng="cash"></option><option value="2" lng="Wire transfer"></option>
				</select>
			</div>
			<div class="left forthy">
				<label lng="Discount"></label>
				<select ng-model="order.in.apply_discount" ng-change="change_disc()">
					<option value="0" lng="No Discount"></option><option value="1" lng="Apply at line level"></option><option value="2" lng="Apply at global level"></option><option value="3" lng="Apply at both levels"></option>
				</select>
			</div>
			<div class="left half autoC">
				<label lng="Author"></label>
				<input type="text" ng-model="order.acc_manager" lng="Author" typeahead="authors.label for authors in getLocation($viewValue)"  typeahead-on-select="autos($item)" typeahead-min-length="0" typeahead-wait-ms="200" class="autocomplete" typeahead-loading="loading">
				<div ng-show="loading" class="loadingAuto">Loading</div>
			</div>
			<div class="left forthy" ng-show="disc_global">
				<label>&nbsp;</label>
				<input type="text" value="" ng-model="order.in.discount" class="big_disc" ng-blur="blur_disc()">
			</div>
		</div>
	</form>
</div>
<div class="orderdetails" ng-show="showAddress">
	<form>
		<a href="" class="edit delete closeD" ng-click="show($event,'showAddress')"></a>
		<div class="half">
			<label lng="Customer"></label>
			<input type="text" readonly="readonly" ng-model="order.customer_name">
		</div>
		<div class="half">
			<label lng="Contact"></label>
			<input type="text" readonly="readonly" ng-model="order.contact_name">
		</div>
		<div class="half">
			<label lng="Address Info"></label>
			<textarea ng-model="order.address_info"></textarea>
		</div>
		<div class="half">
			<label lng="Our reference"></label>
			<input type="text" value="" ng-model="order.in.our_ref">
		</div>
		<div class="half">
			<label lng="Your reference"></label>
			<input type="text" value="" ng-model="order.in.your_ref">
		</div>
		<div class="other_addr">
			<button class="croped" ng-click="snap_send('viewd',order.buyer_id,'do_get')" lng="Other Delivery Address"></button>
			<button class="croped" ng-click="remove_address()" ng-show="order.delivery_address" lng="Remove Address"></button>
		</div>
		<div class="half" ng-show="order.delivery_address">
			<label lng="Delivery Address Info"></label>
			<textarea ng-model="order.delivery_address"></textarea>
		</div>
	</form>
</div>
<div class="orderdetail croped" ng-hide="details" ng-show="details2"><span class="darker"><span lng="Order"></span> #{{order.in.serial_number}}</span> <span ng-bind-html="order.total_vat"></span> <span ng-bind-html="order.currency_type"></span> <span ng-hide="order.total_currency_hide">(<span ng-bind-html="order.total_default_c"></span> <span ng-bind-html="order.default_currency_val"></span>)</span> <a href="" class="edit right openD" ng-click="show($event,'details')"></a></div>
<div class="orderdetail croped" ng-hide="showAddress" ng-show="details2"><span class="darker">{{order.customer_name}}</span> - <span >{{order.address_info}}</span><a href="" class="edit right openD" ng-click="show($event,'showAddress')"></a></div>
<div class="orderdetail croped order_b" ng-hide="showAddress" ng-show="details2"><button class="croped" ng-click="snap_send('modal',null,'show_art_list')" lng='Add Article'></button><button class="croped" ng-click="addLine()" lng="Add line"></button><button class="croped" ng-click="go(cancel_link)" lng="Cancel"></button><button class="croped" ng-click="save()" lng="Save"></button></div>
<div class="lines scrolling_stuff" >
	<div ui-sortable="sortableOptions" ng-model="order.article_line">
		<div class="line" ng-repeat="line in order.article_line">
			<div style="width:75%" class="first_td" ng-show="line.is_article_code">
				<div class="clearfix full margin">
					<div class="left colstwo">
						<label class="article_code">{{line.article_code}}</label>
						<textarea rows="1" ng-model="line.article"></textarea>
					</div>
					<div class="left colsone smalest">
						<label lng="Quantity"></label>
						<input type="text" value="" ng-model="line.quantity" ng-blur="calc(line,'quantity')">
					</div>
					<div class="left colsone smalest">
						<label lng="Pack"></label>
						<span>{{line.packing}}</span><span ng-show="order.allow_article_sale_unit">/{{line.sale_unit}}</span>
					</div>
				</div>
				<div class="clearfix full margin">
					<div class="left colsones colsonef">
						<label lng="Unit price"></label>
						<input type="text" value="" ng-model="line.price" ng-blur="calc(line,'price')">
					</div>
					<div class="left colsones smalest" ng-hide="order.remove_vat">
						<label lng="VAT"></label>
						<input type="text" value="" disabled="disabled" ng-model="line.percent_x" class="smalest">
					</div>
					<div class="left colsones smalest" ng-show="disc_line">
						<label lng="Discount"></label>
						<input type="text" value="" ng-model="line.disc" ng-blur="calc(line,'discount_line')">
					</div>
					<div class="left colsones">
						<label lng="Unit price + VAT"></label>
						<input type="text" value="" ng-model="line.price_vat" ng-blur="calc(line,'price_vat')">
					</div>
				</div>
			</div>
			<div style="width:75%" class="first_td" ng-hide="line.is_article_code">
				<div class="margin">
					<textarea  class="line_content" ng-model="line.article"></textarea>
				</div>
			</div>
			<div style="width:25%" class="last_td">
				<div class="move_line"><span class="move_icon"></span></div><div class="remove_line"><span class="close_icon" ng-click="removeLine($index)"></span></div><div class="left colstwo line_amount">
						<span ng-show="line.is_article_code" class="labeled" lng="Amount" befor="true">:</span>
						<span ng-show="line.is_article_code" class="croped">{{line.line_total}}</span>
					</div>
			</div>
		</div>
	</div>
</div>
</div>