<div class="main_menu2 editd" ng-controller="send_by_email">
	<div class="m_wrapper bg_white">
		<div class="menu"><span class="title">Send email</span></div>
		<div class="loading"><div class="trans"></div><div class="tree"></div><img src="images/loading.gif" id="loading" /></div>
		<alert ng-repeat="alert in alerts" class="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		<div class="send_by_email">
			<div class="clearfix">
				<label class="left">Recipeints</label>
				<div class="left">
					<div class="left" style="position:relative">
						<input type="text" ng-model="s_customer_id" placeholder="Select Contact" typeahead="cont.label for cont in getLocation($viewValue,'contacts_auto')"  typeahead-on-select="autosc($item)" typeahead-min-length="0" typeahead-wait-ms="200" class="autocomplete" typeahead-loading="loading1">
		<div ng-show="loading1" class="loadingAuto">Loading</div>
					</div>
					<p><input type="checkbox"  ng-model="c_email"><span ng-click="set_m('c_email')">{{order.buyer_email}}</span></p>
					<p><input type="text"  ng-model="send_to" style="margin-top:0px;"></p>
					<p><input type="checkbox"  ng-model="copy"><span ng-click="set_m('copy')">Send me a copy</span></p>
				</div>
			</div>
			<div class="clearfix">
				<label class="left">Subject</label><input type="text" ng-model="subject" style="margin-top:10px;">
			</div>
			<div class="clearfix">
				<label class="left">Message</label><textarea rows="10" ng-model="e_message"></textarea>
			</div>
			<div class="clearfix">
				<label class="left">PDF language</label><select ng-model="order.languages">
				<option ng-repeat="lang in order.languages_pdf" value="{{lang.pdf_link_loop}}">{{lang.language}}</option>
			</select>
			</div>
			<div class="clearfix">
				<label class="left">&nbsp;</label><input type="checkbox" ng-model="order.include_pdf_checked"> <span ng-click="set_pdf()">include a PDF version of the order</span>
			</div>
			<div class="buttons">
		 		<button ng-click="send_del()">Send</button><button ng-click="snap_back('editd')">Cancel</button>
		 </div>
	 </div>
 </div>
</div>