<div class="main_menu2 viewd" ng-controller="view_del">
	<div class="m_wrapper bg_white">
		<div class="menu"><span class="title">View delivery</span></div>
		<div class="loading"><div></div><img src="images/loading.gif" id="loading" /></div>
		<div class="view_del">
			<div><label>Delivery Date:</label><span>{{dely.delivery_date}}</span></div>
			<div><label>Contact:</label><span>{{dely.contact_name}}</span></div>
			<div><label>Delivery Address:</label>
				<div>{{dely.delivery_address}}</div>
			</div>
			<table cellspacing="0" cellpadding="0" border="0" width="100%" class="atr_list">
				<thead>
					<tr>
						<th width="65%">Name</th>
						<th width="35%" class="last">Quantity</th>						
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="art in dely.view_order_line">
						<td ng-bind-html="art.article"></td>
						<td class="last">{{art.quantity}}</td>						
					</tr>
				</tbody>
			</table>
			<div><label>Delivery note:</label>
				<div>{{dely.delivery_note}}</div>
			</div>
			<div class="buttons">
				<button ng-click="snap_back('viewd')">Cancel</button>
			</div>
		</div>
 </div>
</div>